:root { /* Colours of the page. */
  --gray-fonts: #11111b;
  --gray-backs: #bbbdba;
  --mixed-gray: #66676a;
  --gray-backs-blurred: rgba(187, 189, 186, 0.5);
  --blue-fonts-lighter: #001176;
  --blue-fonts-lighter-blurred: rgba(0, 17, 118, 0.5); 
  --white: #e7f1f0;
  --yellow-postit: rgba(254, 255, 181,.75);
}
@font-face {
  font-family: 'PT Serif';
  src: url('fonts/PTSerif-Regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'LibreBaskerville';
  src: url('fonts/LibreBaskerville-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*** GENERAL ***/
html, body {
  overflow-x: hidden;
}
body {
  display: flex;
  overflow-y: hidden;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'LibreBaskerville', sans-serif;
  line-height: 1;
  left: 0;
  width: 100%;
  background-color: var(--white);
}
h1 {
  font-size: clamp(30px, 4vw, 50px);
}
h2, h3 {
  text-align: center;
}
h2 {
  padding: 10px 0px 30px 0px;
}
h3 {
  font-style:italic;
  font-size:25px;
}
h3 {
  padding-bottom: 25px;
}
section {
  padding: 25px 20px;
  margin: 1.75% 10%;  
  border-radius: 10px;
  scroll-margin-top: 150px;
}

/*** HASHTAG ***/
#about h2, #contact h2 {
  padding-bottom: 25px;
}
#about p {
  text-align: justify;
  padding: 10px 25px;
}
#slide {
  padding: 0;  
}
/* Missions & Modals*/
#missions {
  height: auto;
}

/* MENU */
header {
  background-color: var(--gray-backs);
  color: var(--gray-fonts);
  position: fixed; 
  top: 0;          
  left: 0;         
  width: 100%;     
  z-index: 1000;
  margin-bottom: 100px;   
}
header h2 {
  padding: 5px;
}
.front {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  height: auto;
  padding: 0 15px;
}
.title {
  font-family: 'PT Serif';
  padding: 15px;  
}
.title a {
  all: unset;
  cursor: pointer;
}
.desktop-menu{
  display: block;
}
.taggingSections {
  display: flex;
  flex-direction: row;
  margin-top: 5px; 
  gap: 50px;
  padding: 20px 15px 20px 0;
}
.taggingSections button {
  background-color:var(--gray-backs);
  color:var(--gray-fonts);
  width: 110px;  
  border: none;
  font-family: 'LibreBaskerville', sans-serif;
  font-style:normal;
  transition: all 0.2s ease;
}
.taggingSections button:hover {
  background-color:var(--blue-fonts-lighter);
  color:var(--white);
  width: 150px;
  border-radius: 5px;
  transform: scale(1.25);
}
.menu-icon {
  display: none;
  font-size: 28px;
  cursor: pointer;
}
.mobile-menu {
  display: none;

}

/* Footer */
footer {
  height: auto;
  background-color: var(--gray-backs);
  color: var(--gray-fonts);
  padding: 20px;
  text-align: center;  
}

/*** MODAL -SE USA EN DOS COMPONENTES DISTINTOS***/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--blue-fonts-lighter-blurred); /* color sombreado */
  z-index: 1000;
}
.modal {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0px;
  display: flex;
  justify-content: center;
  z-index: 10000;
  box-sizing: border-box;
  max-height: 100vh;
}

@media (max-width: 767px) {
  header {
      height: auto;
      margin-bottom: 100px; 
  }
  .webtitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  .menu-icon {
    display: block;
  }

  .desktop-menu {
    display: none;
  }
  .mobile-menu{
    display:flex;
    flex-direction:column;
    position:fixed;
    top:55px;
    left:0;
    width:60%;
    background-color:var(--gray-backs);
    z-index:9999;
    align-items: flex-start;
    padding-left: 5px;         /* separa del borde izquierdo */
    padding-top: 20px;
  }
  .menu-mobile-button {
    width: 100%;           
    max-width: 300px;     
    padding: 15px 20px;   
    font-size: 20px;
    margin: 10px 0;       
    border-radius: 8px;   
    background-color: var(--gray-backs);
    color: var(--gray-fonts);
    transition: all 0.5s ease;
    border: none;
    text-align: left;
    display: block; 
  }
  .menu-mobile-button:hover {
    background-color: var(--blue-fonts-lighter);
    color: var(--white);
    transform: scale(1.05);
  }
}
