:root { /* Colours of the page. */
  --gray-fonts: #11111b;
  --gray-backs: #bbbdba;
  --gray-backs-blurred: rgba(187, 189, 186, 0.5);
  --blue-fonts-lighter: #001176;
  --blue-fonts-lighter-blurred: rgba(0, 17, 118, 0.5);  
  --white: #e7f1f0;
  --yellow-postit: rgba(254, 255, 181,.75);
}
@font-face {
  font-family: 'PT Serif';
  src: url('fonts/PTSerif-Regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'LibreBaskerville';
  src: url('fonts/LibreBaskerville-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*** GENERAL ***/
html, body {
  overflow-x: hidden;
}
body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'LibreBaskerville', sans-serif;
  line-height: 1;
  left: 0;
  width: 100%;
  background-color: var(--white);
}
h1 {
  font-size:50px;
}
h2, h3 {
  text-align: center;
}
h2 {
  padding: 10px 0px 30px 0px;
}
h3 {
  font-style:italic;
  font-size:25px;
}
h3 {
  padding-bottom: 25px;
}
section {
  padding: 25px 20px;
  margin: 1.75% 10%;  
  border-radius: 10px;
  scroll-margin-top: 150px;
}

/*** HASHTAG ***/
#about h2, #contact h2 {
  padding-bottom: 25px;
}
#about p {
  text-align: justify;
  padding: 10px 25px;
}
#slide {
  padding: 0;  
}
/* Missions & Modals*/
#missions {
  height: auto;
}

/* MENU */
header {
  background-color: var(--gray-backs);
  color: var(--gray-fonts);
  position: fixed; 
  top: 0;          
  left: 0;         
  width: 100%;     
  z-index: 1000;
  margin-bottom: 100px;   
}
header h2 {
  padding: 5px;
}
.front {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  height: auto;
  padding: 0 15px;
}
.title {
  font-family: 'PT Serif';
  padding: 15px;  
}
.title a {
  all: unset;
  cursor: pointer;
}
.taggingSections {
  height: 25px;
  display: flex;
  flex-direction: row;
  margin-top: 5px; 
  gap: 50px;
  justify-content: space-around;
  padding: 20px 15px 20px 0;
}
.taggingSections button {
  background-color:var(--white);
  color:var(--gray-fonts);
  height: 25px;
  width: 110px;  
  border: none;
  font-family: 'LibreBaskerville', sans-serif;
  font-style:normal;
}
.taggingSections button:hover {
  scale: 1.25;
  width: 125px;
  border-radius: 4%;
}

/* Footer */
footer {
  height: auto;
  background-color: var(--gray-backs);
  color: var(--gray-fonts);
  padding: 20px;
  text-align: center;  
}
