#hero {
  color: var(--white);
  background-color: var(--blue-fonts-lighter);
  margin-top: 100px;
}
#hero h2 {
  font-size: 25px
}
#hero p {
  padding: 0px 75px;
}

@media (max-width: 767px) {
  #hero p {
    padding: 0px 5%;
  }
}